<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened">
        <mat-toolbar>Digital Shopping</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item (click)="goToPage('/')">Home</a>
            <a mat-list-item (click)="goToPage('/products')">Lista de Compras</a>
            <a mat-list-item (click)="goToPage('/shopping-cart')">Carrinho</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="opened = !opened">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Digital Shopping</span>
        </mat-toolbar>
        
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>