<div class="c720">
    <mat-form-field>
        <input matInput (keyup)="get($event.target.value)" placeholder="Pesquisar">
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let item"> {{item.id }} </td>
            </ng-container>

            <ng-container matColumnDef="nomeProduto">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let item"> {{item.nomeProduto }} </td>
            </ng-container>

            <ng-container matColumnDef="nomeCategoria">
                <th mat-header-cell *matHeaderCellDef> Categoria </th>
                <td mat-cell *matCellDef="let item"> {{item.nomeCategoria }} </td>
            </ng-container>

            <ng-container matColumnDef="quantidade">
                <th mat-header-cell *matHeaderCellDef> Quantidade </th>
                <td mat-cell *matCellDef="let item"> {{item.quantidade }} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let item">
                    <button mat-icon-button (click)="removeById(item.idProduto)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

    <div class="fab-container" style="top: 180px;">
        <button mat-fab color="primary" (click)="openDialog()"
            [disabled]="!dataSource.data.length"
            title="Efetuar compra">
            <mat-icon>done</mat-icon>
        </button>

        <button mat-mini-fab color="accent" (click)="removeAll()" 
            style="margin-left: 8px; margin-top: 5px;"
            [disabled]="!dataSource.data.length"
            title="Limpar carrinho">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>